/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --decor-color: #ff0070;
  --accent-color: #ff0070;
  --logo-color: #DB00FF;
  --contrast-color: #000028;
  --main-text-color:  #F1B2CE;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid #FF007066;
}

.theme-light .header__rec {
  display: block;
}