/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #FF8DCB;
  --logo-color: #FFC2E6;
  --decor-color: #353430;
  --contrast-color: #353430;
  --main-text-color:  #353430;
}

.theme-light .page {
  background-color: initial;
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid #32312D66;
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-light {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #FF8DCB;
    --logo-color: #FFC2E6;
    --decor-color: #353430;
    --contrast-color: #353430;
    --main-text-color:  #353430;
  }

  .theme-light .page {
    background-color: initial;
  }

  .theme-light .header__theme-menu-button:hover {
    border: 1px solid #32312D66;
  }

  .theme-light .header__rec {
    display: none;
  }
}
