/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--contrast-color);
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  padding-block-start: var(--main-gap);
  margin: 0 var(--main-gap);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
}

.header__rec {
  color: var(--decor-color);
  position: absolute;
  text-transform: uppercase;
  inset: var(--main-gap) 28px auto auto;
}

.header__rec::after {
  content: "";
  position: absolute;
  inline-size: 10px;
  block-size: 10px;
  border-radius: 50%;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
  margin: -5px -20px 0 0; /*на половину высоты подняли*/
  inset-inline-end: 0;
  inset-block-start: 50%; /*в середину элемента вставили*/
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--decor-color);
  border: 1px solid transparent;
  padding: 1.5px 13px;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid #ff007066;
  cursor: pointer;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--decor-color);
}

.header__logo {
  color: var(--logo-color);
  font-weight: bold;
  line-height: 83%;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
}

.header__title {
  font-weight: bold;
  font-size: 18px;
  width: max(355px, 48vw);
  line-height: 23.4px;
}

.main {
  color: var(--main-text-color);
  font-size: 18px;
  margin: var(--main-margin) var(--main-gap);
  line-height: 23.4px;
}

.main__section {
  display: grid;
  gap: 20px;
  margin-block-end: 50px;
}

.main__section-title {
  color: var(--decor-color);
  font-size: 18px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.main__card-title {
  font-size: 18px;
  margin-block-end: 10px;
}

.how .main__card-title {
  margin-block-end: 0px;
}

h4.main__card-title {
  font-weight: normal;
}

.main__card-text-link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.main__card-text-link:hover {
  text-decoration: underline;
}

.main__card-text-link:focus-visible {
  border: 1px solid var(--main-text-color);
}

.gallery {
  display: grid;
  gap: var(--main-gap);
  margin-block-end: 40px;
}

.gallery_image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  block-size: 100vh;
  display: flex;
  position: relative;
  min-block-size: 668px;
  margin: 0 var(--main-gap);
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: var(--corner-size);
  height: var(--corner-size);
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  inset: auto auto var(--main-gap) 0;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: var(--corner-size);
  height: var(--corner-size);
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  inset: var(--main-gap) 0 auto auto;
}

.footer__logo {
  color: var(--logo-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: auto;
}

@media (width >= 768px) {
  .header__logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -10px;
  }
  
  .main__section {
    margin-block-end: 80px;
  }

  .why {
    grid-template-columns: 1fr 2fr;
  }

  .why .main__section-title {
    grid-row: 1 / -1;
  }

  .why .main__card {
    grid-column: 2;
  }

  .what {
    grid-template-columns: min-content 1fr;
  }

  .what .main__section-title {
    grid-column: 1;
  }

  .what .main__card {
    grid-column: 1 / -1;
  }

  .how {
    grid-template-columns: 1fr 2fr;
  }

  .how .main__section-title {
    grid-column: 1;
    grid-row: span 6;
  }

  .how .main__card {
    grid-column: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .gallery .main__section-title {
    grid-column: span 3;
  }

  .gallery_image:first-of-type {
    grid-column: span 2;
  }

  .gallery_image:nth-of-type(2) {
    grid-row: span 2;
  }

  .gallery_image:nth-of-type(3) {
    grid-row: span 2;
  }

  .gallery_image:last-of-type {
    grid-column: span 2;
  }

  .footer__logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .what {
    grid-template-columns: repeat(3, 1fr);
  }

  .what .main__section-title {
    grid-column: 1 / -1;
  }

  .what .main__card {
    grid-column: span 1;
  }
}
