/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url("../images/cover-image-dark.png");
  --font-family-primary: 'IBM Plex mono', monospace;
  --decor-color: #FF0070;
  --accent-color: #FF0070;
  --logo-color: #DB00FF;
  --contrast-color: #000028;
  --main-text-color:  #F1B2CE;
  --main-gap: 10px;
  --main-margin: 40px;
  --corner-size: 25px;
}

@media (width >= 768px) {
  :root {
    --main-gap: 20px;
    --main-margin: 60px;
  }
}
